<!DOCTYPE html>
<html lang ="en">
    <head>
        <link rel="stylesheet" href="../css/styles.css" type="text/css" />
        <title>Meal Planning Sign Up Form</title>
    </head>
    <body>
        <h1>Meal Planning Sign Up Form</h1>

        <form action="signUpFormResponse.php" method="post">
            <p>
                <label>First Name:
                    <input type ="text" name="firstname">
                </label>
            </p>

            <p>
                <label>Last Name:
                    <input type = "text" name="lastname">
                </label>
            </p>

            <p>
                <label>Email:
                    <input type="text" name="email">
                 </label>
            </p>

            <p>
                <label>Password:
                    <input type="password" name ="password">
                </label>
            </p>

            <p>
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </p>
        </form>
    </body>
</html>