<!DOCTYPE html>
<html lang ="en">
    <head>
        <title>Meal Planning Onboarding</title>
    </head>
    <body>
        <h1>Meal Planning Onboarding</h1>

        <form action="onboardingFormResponse.php" method="post">
            <p>
                <label>Username </label><br>
                <input type ="text" name="username" placeholder="ex: Chef Maria">
            </p>

            <p>
                <label>How old are you? </label><br>
                <select name="age">
                    <option value="15-25">15-25</option>
                    <option value="25-40">25-40</option>
                    <option value="40-60">40-60</option>
                    <option value="60+">60+</option>
                    <option value="other">Other</option>
                </select>
            </p>

            <p>
                <label>Place of Origin: </label><br>
                <input type="text" name="origin" placeholder="ex: France">
            </p>

            <p>
                <label>Prepared Meals: </label><br>
                <input type="checkbox" name="preparedmeals[]" value="Breakfast">Breakfast
                <input type="checkbox" name="preparedmeals[]" value="Lunch">Lunch
                <input type="checkbox" name="preparedmeals[]" value="Dinner">Dinner
            </p>

            <p>
                <label>Meal plan type: </label><br>
                <input type="radio" name="mealplantype" value="Weight Loss"> Weight Loss
                <input type="radio" name="mealplantype" value="Healthy Eating"> Healthy Eating
                <input type="radio" name="mealplantype" value="Family Meals"> Family Meals
            </p>

            <p>
                <label>Dietary Needs: </label><br>
                <input type="checkbox" name="dietaryrestrictions[]" value="Vegeterian">Vegeterian
                <input type="checkbox" name="dietaryrestrictions[]" value="Gluten Free">Gluten Free
                <input type="checkbox" name="dietaryrestrictions[]" value="Sugar Free">Sugar Free
                <input type="checkbox" name="dietaryrestrictions[]" value="Lactose Intolerant">Lactose Intolerant
                <input type="checkbox" name="dietaryrestrictions[]" value="Nut Free">Nut Free
            </p>

            <p>
                <label>Tell us about yourself: </label><br>
                <textarea name="aboutyourself" rows="5" cols="40"></textarea>
            </p>

            <p>
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </p>



        </form>
    </body>
</html>