<!DOCTYPE html>
<html lang ="en">
    <head>
        <title>Meal Planning Sign Up Form</title>
    </head>
    <body>
        <h1>Meal Planning Sign Up Form</h1>

        <form action="signUpFormResponse.php" method="post">
            <p>
                <label>First Name: </label><br>
                <input type ="text" name="firstname">
            </p>

            <p>
                <label>Last Name: </label><br>
                <input type = "text" name="lastname">
            </p>

            <p>
                <label>Email: </label><br>
                <input type="text" name="email">
            </p>

            <p>
                <label>Password: </label><br>
                <input type="password" name ="password">
            </p>

            <p>
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </p>
        </form>
    </body>
</html>